.navbar{
    position: relative;
    bottom:110px;
}
#main{
    display: flex;
    justify-content: center;
    width:120%;
    height: 800px;
    margin: auto;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px;


}
.wrapper{
    display: flex;
    justify-content: center;
}


#bodymain{
    text-align: center;
}



.navbar-bran{
    margin: auto;
    text-decoration: none;
    font-size: 20px;
    color:white;
}
.navbar-bran:hover{
    color:white;
    text-shadow: 2px 2px 10px ;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}




