{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Trip With Strangers</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">

    <link rel="icon" type="image/x-icon" href="{% static 'tws/index_styles/images/TWT.png' %}">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="{% static 'tws/index_styles/css/bootstrap.min.css' %}">
   <!-- style css -->
   <link rel="stylesheet" href="{% static 'tws/index_styles/css/style.css' %}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{% static 'tws/index_styles/css/responsive.css' %}">
   <!-- fevicon -->
   <link rel="stylesheet" href="{% static 'tws/index_styles/css/jquery.mCustomScrollbar.min.css' %}">
   <!-- Tweaks for older IEs-->
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="{% static 'tws/index_styles/css/owl.carousel.min.css' %}">
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <style>
        .post_message{
            width: 70px;background: #ee580f;height: 35px;color: aliceblue;padding: 9px;border-radius: 4px;margin-left: 5px;text-align: center;
        }
        .post_message:hover{
            width: 70px;background:aliceblue;height: 35px;color: #ee580f;padding: 9px;border-radius: 4px;margin-left: 5px;text-align: center;cursor: grab;
        }
    </style>
</head>
<!-- body -->

<body class="main-layout">
   <!-- loader  -->
   <div class="loader_bg">
      <div class="loader"><img src="{% static 'tws/index_styles/images/loading.gif' %}" alt="#" /></div>
   </div>
   <!-- end loader -->
   <!-- header -->
   <header>
      <!-- header inner -->
      <div class="header">
         <div class="header_white_section">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12">
                     <div class="header_information">
                        <ul>
                           <li><img src="{% static 'tws/index_styles/images/1.png' %}" alt="#" />{{ userdetail.city }}</li>
                           <li><img src="{% static 'tws/index_styles/images/2.png' %}" alt="#" /> +91 {{ userdetail.mobile_number }}</li>
                           <li><img src="{% static 'tws/index_styles/images/3.png' %}" alt="#" /> {{ userdetail.username }}</li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo"> <a href="/"><img src="{% static 'tws/index_styles/images/TWT.png' %}" alt="#"
                                                                     style="height: 120px;width: 120px;border-radius: 19%"></a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                              <li class="active"> <a href="#">Home</a> </li>
                              <li> <a href="#about">About</a> </li>
                              <li><a href="#travel">Travel</a></li>

                              <li><a href="#contact" >Contact Us</a></li>
                               {% if innertext == "Leave" %}
                              <li><a href="{% url 'leave_slot' %}">Leave Slot</a></li>
                               {% else %}
                               <li><a href="{% url 'delete_slot' %}">Delete Slot</a></li>
                               {% endif %}

                              <li><a href="{% url 'logout' %}">Logout</a></li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end header inner -->
   </header>

      <div class="banner-main">
         <img src="{% static 'tws/index_styles/images/banner.jpg' %}" alt="#" />

         <div class="container">
            <div class="text-bg">
               <h1 style="color: whitesmoke">{{ slotdetails.slotname }}</h1>
               <div style="background: linear-gradient(to bottom,#036b88,transparent);width: 500px;height: 179px;margin: auto;border-radius: 20px;padding: 15px;color: aliceblue;font-size: 20px;box-shadow: 8px 6px 23px black;">
                   <p style="text-align: left;font-size: 15px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
</svg> {{ slotdetails.username }} --> Lead</p>
                   <p style="text-align: left;font-size: 15px;text-transform: capitalize;margin-top: 5px;"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg>{{ slotdetails.Arrivalcity }}  --> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg>{{ slotdetails.Destination }}</p>
                   <p style="text-align: left;font-size: 15px;text-transform: capitalize;margin-top: 5px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-range-fill" viewBox="0 0 16 16">
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zM10 7a1 1 0 0 0 0 2h5V7h-5zm-4 4a1 1 0 0 0-1-1H1v2h4a1 1 0 0 0 1-1z"/>
</svg>
{{ slotdetails.Starting_Date }}  --> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-range-fill" viewBox="0 0 16 16">
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zM10 7a1 1 0 0 0 0 2h5V7h-5zm-4 4a1 1 0 0 0-1-1H1v2h4a1 1 0 0 0 1-1z"/>
</svg> {{ slotdetails.Returning_Date }}</p>
                   <p style="text-align: left;font-size: 15px;text-transform: capitalize;margin-top: 5px;">{{ slotdetails.Minimum_age_Members }} yrs <  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
</svg> <{{ slotdetails.Maximum_age_Members }} yrs</p>
                   <div style="text-align: left;font-size: 15px;text-transform: capitalize;margin-top: 5px;display: flex;justify-content: center"><div style="color:blue;margin: 7px;">{{ slotdetails.Current_Number_Male }}/{{ slotdetails.Total_Male }}  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
  <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
</svg></div>
                       <div style="margin: 7px;font-size: 20px;">{{ slotdetails.Current_Number_Members }}/{{ slotdetails.Number_of_Members }}  <b><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
  <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
</svg></b></div>

                   <div style="margin: 7px;color: deeppink">{{ slotdetails.Current_Number_Female }}/{{ slotdetails.Total_Female }}  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
  <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
</svg></div>
                   </div>


               </div>
               <div class="container">

               </div>
            </div>
         </div>
      </div>
   </section>
   <br>
   <div id="about" class="about" style="margin-top: 10px;">
      <div class="container" style="box-shadow: 8px 8px 31px #0fd2ec;padding: 20px;height: 400px;overflow-y: scroll">
        <h1 style="text-align: center;font-size: 20px;"><b>TEAM MEMBERS</b></h1>
          {% for i in team %}
              {% if i.gender == "Male" %}
                      <div class="alert-info" style="height: 60px;border-radius: 10px;margin:10px;padding: 15px;display: flex;justify-content: space-around"><div><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="position: relative;top: 5px;">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg>{{ i.username }}</div>
                      <div>
                          <b>AGE:</b>{{ i.age }}
                      </div>
                      <div>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg>{{ i.city }}
                      </div></div>
              {% else %}
                        <div class="alert-info" style="height: 60px;border-radius: 10px;margin:10px;padding: 15px;background: pink;display: flex;justify-content: space-around"><div><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" style="position: relative;top: 5px;">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg>{{ i.username }}</div>
                      <div>
                          <b>AGE:</b>{{ i.age }}
                      </div>
                      <div>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
</svg>{{ i.city }}
                      </div></div>
              {% endif %}

          {% endfor %}
      </div>
   </div>
   <!-- about -->
   <div id="about" class="about">
      <div class="container">
         <div class="row">
            <div class="col-md-12 ">
               <div class="titlepage">
                  <h2>About our travel agency</h2>
                  <span> <b>Travel With Stranger</b> ,something new right... no need of your friends find your own friends here....For more Details read Below....</span>
               </div>
            </div>
         </div>
      </div>
      <div class="bg">
         <div class="container">
            <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <div class="about-box">
                     <p> <span>Mess Up with your Friends ... Instead of causing trouble with your current group of friends, consider finding new friends who share similar interests and have already experienced the ups and downs of friendship. To join TWS, you must first register and pass our verification process, which requires submitting an Aadhaar card image with your name, gender, address, and date of birth (rest assured, your data is safe with us). TWS serves as a platform for you to connect with like-minded individuals and form new, meaningful friendships. Register today to join the  <B>TWS community.</B></span></p>
                     <div class="palne-img-area">
                        <img src="{% static 'tws/index_styles/images/plane-img.png' %}" alt="images">
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <a href="#">Read More</a>
      </div>
   </div>
   <!-- end about -->

   <div id="about" class="about" style="margin-top: 10px;">
       <nav class="container" style="width: 100%;height: 80px;background: #0c5460;border-radius: 10px 10px 0px 0px;padding: 19px;color: aliceblue;font-size: 25px;text-transform: uppercase;">
           {{ userdetail.username }}
           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16" style="color: #0aff0a">
  <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
</svg>
       </nav>
      <div class="container" style="box-shadow: 8px 8px 31px #01474b;height: 400px;padding:0px;display: flex">
            <div style="width: 20%;background: #0b969f;box-shadow: 4px 2px 20px black;padding: 30px;">
                <h1 style="margin: 0px 55px;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
  <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
</svg></h1>
                {%  for i in team %}
                    <p style="color: whitesmoke;margin: 10px;">{{ i.username }}</p>
                {% endfor %}
            </div>
            <div style="overflow-y: scroll;width: 100%;padding: 20px;" id="display">
                <div class="alert-warning" style="width: 90%;min-height: 45px;padding: 10px;color: whitesmoke;background: #0b969f;border-radius: 13px;">
                    <p style="color: lime"><b>~username</b></p>
                    <p style="margin-left: 20px;">rnd je dcjew djkn dcj edcj wekjndc w djk ecwkjd ce wke cjk j3e wdhfb3rwdjksbjhabsd</p>
                    <div style="display: flex;justify-content: space-between;font-weight: 340;margin-top: 5px;">
                        <div><b>Date</b></div>
                        <div><b>Time</b></div>
                    </div>
                </div>
            </div>
      </div>
       <div class="container" style="height: 60px;background: #0c5460;border-radius: 0px 0px 10px 10px;display: flex;padding: 13px;">
           <div style="display: flex;width: 7%">
               <div style="width: 32px;background: #0a4953;height: 31px;color: aliceblue;padding: 7px;border-radius: 4px;">
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
  <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
</svg>
               </div>
               <div style="width: 32px;background: #0a4953;height: 31px;color: aliceblue;padding: 7px;border-radius: 4px;margin-left: 5px;">
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
  <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
</svg>
               </div>
           </div>
           <div style="width: 82%;height:35px;border-radius: 5px;overflow: hidden;">
               <input type="text" style="width: 100%;height: 35px;border: none;" placeholder="Type a message" id="text_context">
           </div>
           <div style="display: flex;">
               <div style="width: 37px;background: #0a4953;height: 35px;color: aliceblue;padding: 8px;border-radius: 4px;margin-left: 5px;">
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
  <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
  <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
</svg>
               </div>
               <div class="post_message" onclick="send_message()">
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rocket-takeoff-fill" viewBox="0 0 16 16">
  <path d="M12.17 9.53c2.307-2.592 3.278-4.684 3.641-6.218.21-.887.214-1.58.16-2.065a3.578 3.578 0 0 0-.108-.563 2.22 2.22 0 0 0-.078-.23V.453c-.073-.164-.168-.234-.352-.295a2.35 2.35 0 0 0-.16-.045 3.797 3.797 0 0 0-.57-.093c-.49-.044-1.19-.03-2.08.188-1.536.374-3.618 1.343-6.161 3.604l-2.4.238h-.006a2.552 2.552 0 0 0-1.524.734L.15 7.17a.512.512 0 0 0 .433.868l1.896-.271c.28-.04.592.013.955.132.232.076.437.16.655.248l.203.083c.196.816.66 1.58 1.275 2.195.613.614 1.376 1.08 2.191 1.277l.082.202c.089.218.173.424.249.657.118.363.172.676.132.956l-.271 1.9a.512.512 0 0 0 .867.433l2.382-2.386c.41-.41.668-.949.732-1.526l.24-2.408Zm.11-3.699c-.797.8-1.93.961-2.528.362-.598-.6-.436-1.733.361-2.532.798-.799 1.93-.96 2.528-.361.599.599.437 1.732-.36 2.531Z"/>
  <path d="M5.205 10.787a7.632 7.632 0 0 0 1.804 1.352c-1.118 1.007-4.929 2.028-5.054 1.903-.126-.127.737-4.189 1.839-5.18.346.69.837 1.35 1.411 1.925Z"/>
</svg>
               </div>
           </div>

       </div>
   </div>
   <!-- traveling -->

   <!-- end traveling -->
   <!--London -->
   <div class="London">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Trip of The Weak</h2>
                  <span>It's not too late for booking the trip of the weak Place ,so Try this place out with your new
                     friends.....</span>
               </div>
            </div>
         </div>
      </div>
      <div class="container-fluid">
         <div class="London-img">
            <figure><img src="{% static 'tws/index_styles/images/London.jpg' %}" alt="img" /></figure>
         </div>
      </div>
   </div>
   <!-- end London -->
   <br>

   <!--Tours -->
   <div class="Tours">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2>Trending Places</h2>
                  <span>The Places where most people visit are always beautiful Places....</span>
               </div>
            </div>
         </div>
         <section id="demos">
            <div class="row">
               <div class="col-md-12">
                  <div class="owl-carousel owl-theme">
                     <div class="item">
                        <img class="img-responsive"
                           src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn2MdRsSv0ubMQke5xb-84bXxF_sokD0AVdQ&usqp=CAU"
                           alt="#" />
                        <h3>Chennai</h3>
                        <p>City where you can enjoy the breeze of the sea and walk on bed of the beach...</p>
                     </div>
                     <div class="item">
                        <img class="img-responsive" src="{% static 'tws/index_styles/images/newimg2.jpg' %}" alt="#" />
                        <h3>Ooty</h3>
                        <p>A Beautiful Town where its rains snow durning sun and It is the entry of the coldest
                           Heaven...</p>
                     </div>
                     <div class="item">
                        <img class="img-responsive" src="{% static 'tws/index_styles/images/newimg1.jpg' %}" alt="#" />
                        <h3>Bangalore</h3>
                        <p>Place where its rain's and shine's at the same time and many beautiful places to visit
                           at.....</p>
                     </div>
                     <div class="item">
                        <img class="img-responsive" src="{% static 'tws/index_styles/images/newimg3.jpg' %}" alt="#" />
                        <h3>Mumbai</h3>
                        <p>Place where the india start's and beauty of all india lies in the same place....</p>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
   </div>
   <!-- end Tours -->


   <!-- footer -->
   <footer>
      <div id="contact" class="footer">
         <div class="container">
            <div class="row pdn-top-30">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                  <ul class="location_icon">
                     <li> <a href="#"><img src="{% static 'tws/index_styles/icon/facebook.png' %}"></a></li>
                     <li> <a href="#"><img src="{% static 'tws/index_styles/icon/Twitter.png' %}"></a></li>
                     <li> <a href="#"><img src="{% static 'tws/index_styles/icon/linkedin.png' %}"></a></li>
                     <li> <a href="#"><img src="{% static 'tws/index_styles/icon/instagram.png' %}"></a></li>
                  </ul>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="Follow">
                     <h3>CONTACT US</h3>
                     <span>Chennai <br>-82<br>
                        India<br>
                        +91 9789834440</span>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="Follow">
                     <h3>ADDITIONAL LINKS</h3>
                     <ul class="link">
                        <li> <a href="#">About us</a></li>
                        <li> <a href="#">Terms and conditions</a></li>
                        <li> <a href="#"> Privacy policy</a></li>
                        <li> <a href="#">News</a></li>
                        <li> <a href="#"> Contact us</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="Follow">
                     <h3> Contact</h3>
                     <div class="row">
                         <form class="row" action="{% url 'comments' %}" method="POST">
                             {% csrf_token %}
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                           <input class="Newsletter" placeholder="Name" type="text" name="username">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                           <input class="Newsletter" placeholder="Email" type="text" name="user_email">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                           <textarea class="textarea" placeholder="comment you Review About our website"
                              type="text" name="comment"></textarea>
                        </div>


                     </div>
                     <button class="Subscribe">Submit</button>
                  </div>
                   </form>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <p>We wish you to have a safe,Comfortable and Cheapest <a href="#travel">journey</a></p>
               </div>
            </div>
         </div>
      </div>
       <p style="display: none" id="current_username">{{ userdetail.username }}</p>
   </footer>
   <!-- end footer -->
   <!-- Javascript files-->
   <script src="{% static 'tws/index_styles/js/jquery.min.js' %}"></script>
   <script src="{% static 'tws/index_styles/js/popper.min.js' %}"></script>
   <script src="{% static 'tws/index_styles/js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'tws/index_styles/js/jquery-3.0.0.min.js' %}"></script>
   <script src="{% static 'tws/index_styles/js/plugin.js' %}"></script>
   <!-- sidebar -->
   <script src="{% static 'tws/index_styles/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
   <script src="{% static 'tws/index_styles/js/custom.js' %}"></script>
   <!-- javascript -->
   <script src="{% static 'tws/index_styles/js/owl.carousel.js' %}"></script>
   <script>
      $(document).ready(function () {
         var owl = $('.owl-carousel');
         owl.owlCarousel({
            margin: 10,
            nav: true,
            loop: true,
            responsive: {
               0: {
                  items: 1
               },
               600: {
                  items: 2
               },
               1000: {
                  items: 3
               }
            }
         })
      })
      $(document).ready(function(){

    setInterval(function(){
        $.ajax({
            type: 'GET',
            url : "getMessages/{{ slotdetails.slot_id }}",
            success: function(response){
                console.log(response);
                $("#display").empty();
                for (var key in response.messages)
                {
                    let date_time=response.messages[key].time_now.toString().slice(0,-1);
                    date_time=date_time.split("T");
                    let date_today=date_time[0];
                    let time_today=date_time[1];
                    let username=response.messages[key].username;
                    let message=response.messages[key].user_message;
                    console.log(message);
                    console.log(date_today);
                    let current_user=document.getElementById("current_username").innerText;


                    if(username.toString()!=current_user.toString()) {
                        var temp = "<div class='alert-warning' style='width: 80%;min-height: 45px;padding: 10px;color: whitesmoke;background: #0b969f;border-radius: 13px;border: none;margin-bottom: 20px;'><p style='color: lime;text-align: end'><b>~" + username + "</b></p><p style='margin-top: 0px;'>" + message + "</p> <div style='display: flex;justify-content: space-between;font-weight: 340;margin-top: 5px;font-size: 10px;'><div><b>" + date_today + "</b></div><div><b>" + time_today + "</b></div></div><div>";
                    }else{
                        var temp = "<div class='alert-warning' style='width: 80%;min-height: 45px;padding: 10px;color: whitesmoke;background: orange;border-radius: 13px;border: none;margin-left: 20%;margin-bottom: 20px;'><p style='color: cyan;text-align: end'><b>~" + username + "</b></p><p style='margin-top: 0px;'>" + message + "</p> <div style='display: flex;justify-content: space-between;font-weight: 340;margin-top: 5px;font-size: 10px;'><div><b>" + date_today + "</b></div><div><b>" + time_today + "</b></div></div><div>";

                    }
                    //console.log(temp);
                    $("#display").append(temp);
                }
            },
            error: function(response){
                alert('An error occured')
            }
        });
    },1000);
})
   </script>
   <script>
       function send_message(){
           let message =document.getElementById("text_context").value;

           let current_user=document.getElementById("current_username").innerText;
           $.ajax({
            type:'POST',
            url:'/send_message',
              data:{
                  username:current_user,
                  message:message,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
              },
              success: function(data){

              }
           });
           document.getElementById("text_context").value="";
       }
   </script>

</body>

</html>